
.gpt-container{
    margin: 50px 40px;
}
.gpt-content{
    /* background: rgb(49,61,128); */
background: linear-gradient(90deg, rgba(49,61,128,1) 43%, rgba(81,158,196,1) 100%);
padding: 40px 40px;

}
.gpt-QandA{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 35px;

}

/* .gpt-QandA h1{
    
} */
.gpt-QandA p{
    width: 600px;
    color: rgb(222, 214, 214);

}
.gpt-library{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 45px;

}
.gpt-library p{
    color:rgb(246, 114, 66);
    font-weight: 600;
    margin-right: 20px;
}
.gpt-library-heading h2{
    font-size: 2.2em;
    font-weight: 900;
    background-image:linear-gradient(90deg, rgba(131,58,180,1) 20%, rgba(253,29,29,1) 60%, rgba(252,176,69,1) 100%) ;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}
.gpt-chatbot{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    gap: 20px;
    margin-top: 35px;
}
.bot hr{
    width: 40px;
    margin-bottom: 8px;
    border: 2px solid purple;
}
.bot h4{
    font-size: 1.7em;

}
.bot p{
    margin-top: 30px;
    color: rgb(222, 214, 214);
}

@media(max-width:700px){
    .gpt-QandA{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .gpt-QandA p{
        width: 350px;
    }
    .gpt-library{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

}

@media(max-width:500px){
    .gpt-QandA p{
        width: 300px;
    }

}

@media(max-width:400px){
    .gpt-QandA p{
        width: 200px;
        font-size: 14px;
        
    }
    .gpt-library-heading h2{
        font-size: 1.5em;

    } 
    .bot h4{
        font-size: 1em;
    
    }
    .bot p{
        margin-top: 20px;
        font-size: 14px;
        width: 150px;
    }
    .gpt-container{
        margin: 50px 0px;
        margin-left: 20px;
    }
    
    .gpt-content{
        /* background: rgb(49,61,128); */
    background: linear-gradient(90deg, rgba(49,61,128,1) 43%, rgba(81,158,196,1) 100%);
    padding: 40px 40px;
    
    }
    
    
    


}

